body{
  background-color: #F2F1EF
}
.container{
     min-height: 500px;
}

#dummy_logo{
     display:none;
}

.navbar-brand{
     font-weight: 500;
}

.mar_bottom_2em{
     margin-bottom: 2em;
}

.mar_top_4em{
     margin-top: 4em;
}

.mar_top_2em{
     margin-top: 2em;
}

.card-img-top{
     border-top-right-radius:0;
     border-top-left-radius:0;
     min-height: 2em;
}

.category_row_div .col-md-3{
  margin-bottom: .6em;
}

.section_row .img-fluid{
  height: 35em !important;
}


.cat_thumb_caption {
      position: absolute;
      top: 55%;
      left: 0;
      width: 100%;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-size: 2em;
      line-height: 1em;
      font-weight: bolder;
  }
/* category thumbnail styles*/

@media (max-width: 992px) {
     #dummy_logo{
     display:block;
     }
     #main_logo{
          /* display: none; */
     }
}